.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #424242;
    flex-direction: column;
}



.card {
    width: 974px;
    height: 472px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    display: flex;
    margin-bottom: 2rem;
}

.form input {
    height: 2rem;
    margin-left: 15px;
}



.card-body {
    width: 968px;
    height: 466px;
    border: 2px solid #424242;
}


.card-users {
    position: relative;
    top: 0;
    left: 0;
    width: 550px;
    height: 210px;
    border-right: 1px solid #424242;
    border-bottom: 1px solid #424242;
}


.imagen {
    position: relative;
    top: 10px;
    left: 765px;
    height: 120px;
}



.imagen2 {
    position: relative;
    bottom: -150px;
    left: 450px;
    height: 300px;
}
/* 
.imagen3 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 200px;
} */


.fs {
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    margin-left: 10px;
    line-height: 10px;
}

.nombre-negocio{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    bottom: 320px;
    font-size: 60px;
    left: 870px;
    text-align:center;
}


.datos{
    position: relative;
    /* border: 1px solid red; */
    padding: 0;
    width: 580px;
    height: 260px;
    left: 0px;
    bottom: 120px;
}



.precio{
    font-family: 'Rock Salt', cursive;
    font-size: 70px;
    position: absolute;
    bottom: 90px;
    left: 650px;
}